---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="About - Pedro Botica">
  <div class="w-full min-h-screen flex flex-col items-center pb-16">
    <div class="w-10/12 max-w-[1100px] px-4 mt-40">
      <!-- Page Header -->
      <div class="max-w-9/10 m-auto mb-16">
        <h1
          class="text-4xl font-bold leading-normal tracking-[-1.2px] text-[#212121] my-8"
        >
          About
        </h1>
      </div>

      <!-- Content Section -->
      <div class="max-w-9/10 m-auto flex flex-col lg:flex-row gap-12">
        <!-- Text Content -->
        <div
          class="lg: flex flex-col gap-6 text-base leading-relaxed text-[#212121]"
        >
          <p>
            I discovered my love for design when I was 13 and I wanted to
            start a minecraft youtube channel and needed some artwork. I
            installed photoshop and cinema4D, got myself some textures and
            whacked away at my first design creation, a youtube banner art for
            my minecraft channel.
          </p>

          <p>
            When I graduated high school I decided to study design, it was the
            perfect combination of artistry, science and technology. I
            particularly fell in love with UX and Product Design, as these field
            are much more and problem-solving oriented, where every project is a new puzzle to crack
            and I think I always really liked puzzles.
          </p>

          <p>
            Currently I'm working as a Web/UX Designer at Darty, where I am a part
            of the eCommerce team. My main focus is on improving the user
            experience and conversion rates across the website through
            data-driven design and continuous optimization.
          </p>
          <p>
            When I'm not designing, I am a board game nerd. I love playing and
            collecting board games, and I even designed my own board game as a
            <a href="/projects/board-game" class="underline hover:text-gray-600 transition-colors"> university project! </a>
            <p>
              You can check out my <a
                href="/resume"
                class="underline hover:text-gray-600 transition-colors"
                >resume here.</a
              >
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
