---
import BaseLayout from "../layouts/BaseLayout.astro";
import CaseStudyHero from "../components/CaseStudyHero.vue";
import CaseStudySection from "../components/CaseStudySection.vue";
---

<BaseLayout title="Lagos City Identity | Portfolio">
  <CaseStudyHero client:load>
    <div class="flex flex-col md:flex-row justify-between h-fit mx-auto pt-28">
      <div class="flex flex-col w-full md:w-[45%]">
        <div class="flex flex-col">
          <span class="text-2xl font-medium text-orbit-purple-light m-0"
            >Design System</span
          >
          <h1 class="text-[44px] font-bold m-0">
            Nuances - City Identity<br />for Lagos
          </h1>
        </div>

        <div
          class="flex justify-start gap-12 my-5 font-medium text-base flex-wrap"
        >
          <span>Branding</span>
          <span>Graphic Design</span>
          <span>Product Design</span>
          <span>Wayfinding</span>
          <span>Design System</span>
        </div>

        <div class="flex gap-5 my-5">
          <div>
            <p class="font-bold">Year</p>
            <p>2023</p>
          </div>
          <div>
            <p class="font-bold">Project</p>
            <p>Lagos City Identity</p>
          </div>
        </div>
      </div>

      <img
        src="/images/lagos/Lagos-01.png"
        alt="Lagos City Identity"
        class="w-full md:w-1/2 flex justify-center items-center rounded-2xl"
      />
    </div>

    <div class="mt-12">
      <p class="opacity-90 text-lg leading-relaxed pb-30">
        Nuances was my senior group project in my Bachelors. We were tasked with
        creating the city identity for Lagos by creating a wayfinding system and
        designing urban furniture for the main plaza. To achieve this we tapped
        into Lagos history and culture, hoping to strike a balance between
        refined and free-flowing.
      </p>
    </div>
  </CaseStudyHero>

  <CaseStudySection client:load>
    <div class="flex flex-col gap-8">
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-02.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-03.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-04.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-05.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-06.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-07.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-08.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-09.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-10.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-11.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-12.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-13.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-14.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-15.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-16.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-17.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-18.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-19.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-20.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-21.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-22.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-23.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-24.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-25.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-26.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-27.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-28.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <img
          src="/images/lagos/Lagos-29.png"
          alt="Lagos Design"
          class="w-full"
        />
      </div>
    </div>
  </CaseStudySection>
</BaseLayout>
