---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CaseStudyHero from "../../components/CaseStudyHero.vue";
import CaseStudySection from "../../components/CaseStudySection.vue";
import { Image } from "astro:assets";
import ProjectHero from "../../components/ProjectHero.vue";
---

<BaseLayout title="Lagos City Identity | Portfolio">
  <CaseStudyHero client:load>
    <ProjectHero
      client:load
      type="showcase"
      title="Nuances - City Identity<br />for Lagos"
      tags={["Branding", "Graphic Design", "Wayfinding", "Design System"]}
      year="2023"
      projectName="Lagos City Identity"
      heroImage="/images/lagos/Lagos-01.png"
      heroImageAlt="Lagos City Identity"
    />

    <div class="mt-12">
      <p class="opacity-90 text-lg leading-relaxed pb-30">
        Nuances was my senior group project in my Bachelors. We were tasked with
        creating the city identity for Lagos by creating a wayfinding system and
        designing urban furniture for the main plaza. To achieve this we tapped
        into Lagos history and culture, hoping to strike a balance between
        refined and free-flowing.
      </p>
    </div>
  </CaseStudyHero>

  <CaseStudySection client:load>
    <div class="flex flex-col gap-8">
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-02.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-03.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-04.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-05.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-06.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-07.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-08.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-09.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-10.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-11.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-12.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-13.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-14.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-15.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-16.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-17.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-18.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-19.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-20.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-21.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-22.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-23.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-24.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-25.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-26.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-27.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-28.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
      <div class="bg-white rounded-card p-8">
        <Image
          src="/images/lagos/Lagos-29.png"
          alt="Lagos Design"
          width={1200}
          height={800}
          loading="lazy"
          class="w-full"
        />
      </div>
    </div>
  </CaseStudySection>
</BaseLayout>
